@import "tailwindcss";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap'); */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif !important;

}

body{
    background-color: #19212E;
    color: white;
}

::-webkit-scrollbar {
    
    display: none;
}

body::-webkit-scrollbar {
    display: none;
}


